<div class="card" style="background-color:#f6f6f6;">
  <div class="card-body">
    <%= form_with(model: [:admin, book], local: true) do |f| %>
      <%= render "layouts/form_errors", record: book %>
      <div class="form-group">
        <label>Nome</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Autor</label>
        <%= f.text_field :author, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <%= f.text_field :category, class: "form-control" %>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <%= link_to "Voltar", admin_books_path, class: "btn btn-secondary ml-3" %>
    <% end %>
  </div>
</div>
