<div class="card" style="background-color:#f6f6f6;">
  <div class="card-body">
    <%= form_with(model: [:user, reservation], local: true) do |f| %>
      <%= render "layouts/form_errors", record: reservation %>
      <div class="form-group">
        <label>Usuário</label>
        <%= text_field_tag nil, current_user.name, class: "form-control", disabled: true %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="form-group">
        <label>Livro</label>
        <%= f.collection_select :book_id,
              Book.order(:name),
              :id,
              :name,
              { include_blank: "Selecione um livro" },
              { class: "form-control" } %>
      </div>
      <button type="submit" class="btn btn-primary">Reservar</button>
      <%= link_to "Voltar", user_books_path, class: "btn btn-secondary ml-3" %>
    <% end %>
  </div>
</div>
