<h2> Minhas Reservas</h2>

<%= link_to("Fazer nova Reserva", new_user_reservation_path, class: "btn btn-success mb-4") %>
<div>
  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Número da Reserva</th>
        <th scope="col">Livro</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <% if(reservation.status == true) %>
          <td><%= reservation.id %></td>
          <td><%= Book.find(reservation.book_id).name %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<div>

<div>
  <h3><a> Reservas finalizadas</a></h3>
  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Número da Reserva</th>
        <th scope="col">Livro</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <% if(reservation.status == false) %>
          <td><%= reservation.id %></td>
          <td><%= Book.find(reservation.book_id).name %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<div>
