<h4>Gestão dos Adminisradores</h4><br>

<%= link_to("Novo Administrador", new_admin_admin_path, class: "btn btn-success mb-4") %>

<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.name %></td>
      <td><%= admin.email %></td>
      <td><%= link_to "Editar", edit_admin_admin_path(admin), class: "btn btn-warning btn-sm" %></td>
      <td><%= link_to "Deletar", admin_admin_path(admin), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %></td>
    <% end %>
  </tbody>
</table>
