<div
  id="sign-in-page"
  data-auth-scope="<%= resource_name %>"
  data-submit-path="<%= session_path(resource_name) %>"
  data-auth-token="<%= form_authenticity_token %>"
  data-alert="<%= alert %>"
  data-notice="<%= notice %>"
  data-logo-url="<%= asset_path('logo_1.png') %>"
  data-switch-href="<%= resource_name == :user ? new_admin_session_url(host: Rails.configuration.x.admin_host) : new_user_session_url(host: Rails.configuration.x.main_host) %>"
  data-switch-label="<%= resource_name == :user ? 'Acessar Painel Admin' : 'Voltar para login de usuário' %>"
  data-register-href="<%= resource_name == :user ? new_user_registration_url(host: Rails.configuration.x.main_host) : '' %>"
  data-register-label="Criar conta"
></div>

<%= javascript_pack_tag 'sign_in' %>
