<div id="admin-home" data-admin-name="<%= current_admin.name %>"></div>

<%= javascript_pack_tag 'home_admin' %>

<div class="row mt-4">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Livros</h5>
        <p class="card-text">Gerenciar acervo.</p>
        <%= link_to "Ir para Livros", admin_books_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Usuários</h5>
        <p class="card-text">Gerenciar usuários.</p>
        <%= link_to "Ir para Usuários", admin_users_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reservas</h5>
        <p class="card-text">Gerenciar reservas.</p>
        <%= link_to "Ir para Reservas", admin_reservations_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Admins</h5>
        <p class="card-text">Gerenciar administradores.</p>
        <%= link_to "Ir para Admins", admin_admins_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>
